<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736591037754-fr4av746b6tpj8rjt3lfh79pliur5e7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736591037754-fr4av746b6tpj8rjt3lfh79pliur5e7d</string>
	<key>API_KEY</key>
	<string>AIzaSyCJKvcPQnsrPj_aQ-ZQCaL_s0v07TpKejA</string>
	<key>GCM_SENDER_ID</key>
	<string>736591037754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagaty</string>
	<key>PROJECT_ID</key>
	<string>messagaty</string>
	<key>STORAGE_BUCKET</key>
	<string>messagaty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736591037754:ios:836b2147c0a0a6a6507c03</string>
</dict>
</plist>